/* Fonts */
@font-face {
    font-family: Bebas Neue;
    src: url(../assets/Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family:Open Sans;
    src: url(../assets/Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

/* Reset de Propriedade */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-grid{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}

/* Cabeçalho */
.header-flex{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header{
    background-color: #f9003d;
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content:space-between ;
    
    width: 600px;
}

nav a{
    color: white;
    text-decoration:none ;
    font-family: 'Bebas Neue' , sans-serif;
}

/* Fomatação do Texto*/
h1{
    color: white;
    font-family: "Bebas Neue";
    font-size: 93px;
    
    border-bottom: 1px solid #ffaf00;
    width: 545px;
    height: 246spx;
}

h3{
    color: #F9003D;
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    margin-top: 29px;

    width: 544px;
    height: 68px;
}

p{
    color: white;
    font-family: "Open Sans";
    font-size: 18px;
    text-decoration: none;
    text-align: justify;
}

#Titulo-Projeto{
    color: #f9003d;
    font-family: "Bebas Neue";
    font-size: 64px;
}

h4{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

h2{
    color: #ffaf00;
    font-family: "Bebas Neue";
    font-size: 64px;
}

#SubInfos{
    color: #a259f7;

    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    text-transform: uppercase;

    width: 289px;
    height: 100px;

    border: 1px solid #a259f7;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN */
.Titulo{
 display: flex;
 flex-direction: column;
}

 .Banner{
     height: 740px;
     background-image: url(../images/imagem-fundo-banner.png);
     background-size:cover;

     display: flex;
     align-items: center;
 }

 .mouse-icon {
     width: 37.31px;
     height: 80px;
 }


 /* Seção Sobre */

 .Projetos{
     height: 800px;
     background-color: #080324;
    
     display: flex;
     align-items: center;
 }

 .imagem-projeto{
     width: 491px;
     height: 476px;

     margin-top: 64px;
 }

 .Participantes{
     width: 592px;
     height: 476px;

     position: absolute;
     left: 798px;
     top: 1005px;
     display: flex;
     justify-content: space-around;
     flex-direction: column;
 }

 /* SEÇÃO INFORMAÇÕES */

 .infos{
     background-image: url(../images/imagem-fundo-info.png);
     height: 200px;
 }

 
 
 

 

/* Rodapé */

 .footer-flex{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

footer{
    background-color: #f9003d;
    width: 100%;
    height: 82px;
}

.BoxInfos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1200px;
    height: 135px;
}